.Container{
    height: 400px;
    width: 400px;
    border: 2px solid lightseagreen;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}

.child{
    height: 100px;
    width: 100px;
    background-color: gray;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 50px;
    text-align: center;
}