h1 {
    text-align: center;
    text-decoration: underline;
}

#container {
    width: 80%;
    height: 600px;
    margin: 10px auto;
    border: 1px solid black;
    background-color: azure;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* flex-wrap: wrap; */
    /* align-items: baseline; */
    align-content: flex-start;
}

#orange {
    align-self: flex-start;
    /* flex-basis: 50px; */
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
    flex: 2 2 100;
}

#blue {
    align-self: flex-start;
    /* flex-basis: 400px; */
    /* flex-grow: 2; */
    /* min-width: 200px; */
    flex-shrink: 2;
}

div {
    height: 100px;
    width: 300px;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
}