*{
    background-color: beige;
    
}

h1, h3{
    color: red;

}

#login{
    background-color: blue;
    color: white;
}

#signup{
    background-color: blue;
    color: white;
}

/* .follow{
    text-decoration: none;
    color: purple;
} */

/* Descendant Selector */

.post a{
    color: purple;
    background-color: yellow;
}
nav ul li{
    color: hotpink;
}

/* Adjacent Sibling COmbinator */
p + h3{
    text-decoration: underline;
}

input[type="text"]{
    color: green;
}

input[type="password"]{
    color: red;
}

input[type]{
    background-color: pink;
}

button:hover{
    background-color: black;
    color: white;
}

h3:hover{
    text-decoration: none;
}

button:active{
    background-color: pink;
}

p:active{
    font-weight: bold;
    color: darkcyan;
}

input[type="radio"]:checked + label{
    font-weight: 900;
    color: white;
    background-color: black;

}

h1::first-letter{
    color: green;
}

div[id="MyId"] p::first-line{
    color: red;
}

p::selection{
    background-color: palegoldenrod;
}