section{
    margin-top: 100px;
}

div{
    height: 50px;
    width: 200px;
    text-align: center;
    border: 2px solid black;
    background-color: green;
    margin: 10px;
}

div:nth-of-type(2n) {
    background-color: yellowgreen;
}

div:nth-of-type(3n){
    background-color: rgba(255, 255, 0);
}

/* Alpha and Opacity */

section{
    background-color: rgba(255, 0, 0, 0.8);
    opacity: 0.5;
}
 