#face {
    height: 400px;
    width: 400px;
    background-color: yellow;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

#leye {
    height: 50px;
    width: 50px;
    background-color: black;
    position: absolute ;
    top: 100px;
    left: 100px;
    border-radius: 50%;
}

#reye {
    height: 50px;
    width: 50px;
    background-color: black;
    position: absolute;
    top: 100px;
    left: 250px;
    border-radius: 50%;
}

#mouth {
    height: 75px;
    width:  200px;
    background-color: red;
    position: absolute;
    top: 250px;
    left: 100px;
    border-radius: 0 0 50px 50px;
}