.box {
    height: 100px;
    width: 300px;
    background-color: pink;

    /* animation-name: bgcolorAnimate;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: alternate; */

    /* Animation Shorthand  */
    /* animation : myName duration timing-function delay count direction  */

    /* animation: widthAnimate 3s linear 1s infinite alternate;*/

    animation: AnimateMultiple 5s ease-in 0s 1 normal;
}

@keyframes fontAnimation {
    from{
        font-size: 20px;
    }
    to {
        font-size: 40px;
    }
}

@keyframes bgcolorAnimate {
    from{
        background-color: green;
    }
    to{
        background-color: red;
    }
}

@keyframes widthAnimate {
    from{
        width: 50px;
    }
    to {
        width: 400px;
    }
}

/* to animate multiple proprties */
@keyframes AnimateMultiple {
    from {
        width: 50px;
        height: 50px;
        background-color: gold;

    }
    to {
        width: 250px;
        height: 250px;
        background-color: silver;
        border-radius: 50%;
        text-align: center;
    }
    
}