.loader {
    height: 300px;
    width: 300px;
    border: 50px solid lightgray;
    border-top: 50px solid gold;
    border-radius: 50%;
    background-color: pink;
    animation: loadingAnimation 4s linear 0s infinite normal;
}

@keyframes loadingAnimation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
    
}