.container{
    width: 600px;
    height: 300px;
    background-color: black;
    display: grid;
    grid-template-rows: 80px 70px 60px;
    grid-template-columns: 200px 200px 200px;
}

.item{
    height: 50px;
    width: 100px;
    background-color: yellowgreen;
    border: 2px solid black;
}