.container{
    width: 600px;
    height: 300px;
    background-color: yellow;
    display: grid;
    /* grid-template-rows: 50px 50px 50px 50px 50px ;
    grid-template-columns: 200px 200px 200px; */

    /* grid-template-rows: repeat(count, 1fr); */
    /* 1fr means 1 fraction of 100% of available space (width (for rows) or height(for columns)) */

    grid-template-rows: 1fr 1fr 1fr 1fr; /* grid rows can be written like this as well instead of repeat()*/
    grid-template-columns: repeat(3, 1fr);

    /* row-gap: 10px;
    column-gap: 20px; */

    gap: 10px;/* Shorthand for row-gap and column-gap*/
}

.item{
    /* height: 50px;
    width: 100px; */
    background-color: yellowgreen;
    border: 2px solid black;
    text-align: center;
}

.one {
    /* grid-column-start: 1;
    grid-column-end: 4; */

   /* grid-column: 1/4; /* Shorthand for start, end */

    grid-column: 1/ span 2; /* Another way of writing grid-column */
}

.two {
    grid-row: 1/3
}