h1 {
    background-color: yellow;
    border: 2px solid black;
}

div {
    background-color: red;
    color: white;
}

@media (width: 400px) {
    h1 {
        background-color: red;
        color: white;
        /* When devise width is 400px this style will be applied */
    }
    div {
        background-color: yellow;
        color: black;
        border: 5px double black;
    }
}

@media (min-width: 700px) {
    h1 {
        background-color: greenyellow;
        /* When width is more than 700px background color is yellowgreen */
    }
}

@media (max-width: 200px) {
    h1 {
        background-color: pink;
        /* When width is less than 200px background color is pink */
    }
}

@media (min-width: 200px) and (max-width: 300px){
    h1 {
        background-color: blue;
    }
    /* When width is between 200px and 300px background color changes to blue */
}