h1 {
    background-color: yellow;
    border: 2px solid black;
}

@media (width: 400px) {
    h1 {
        background-color: red;
        color: white;
        /* When devise width is 400px this style will be applied */
    }
}