.container{
    width: 600px;
    height: 300px;
    background-color: black;
    display: grid;
}

.item{
    height: 50px;
    width: 100px;
    background-color: yellowgreen;
    border: 2px solid black;
}